* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.play-now {
  display: flex;
}

/* Background */
.bg {
  background-color: #0a2c3b;
  height: 100vh;
  width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.bg img {
  width: 50%;
}

/* Create Account */
.account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 40px auto 80px;
}

.account h1 {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.02em;
  color: #0a2c3b;
  margin-top: 40px;
}

.account p {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #666666;
  margin-bottom: 40px;
}

.account label {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #0a2c3b;
}

.account input {
  margin-top: 8px;
  font-size: 18px;
  font-family: Poppins;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: solid 1.5px #cccccc;
  width: 100%;
  color: #666666;
}

.account input:active {
  border: solid 1px #0a2c3b;
}

.email,
.gender,
.gender,
.password,
.terms {
  margin-top: 16px;
}

.gender-text {
  display: block;
}

.male,
.female {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 20px;
}

.gender label[for="male"],
.gender label[for="female"] {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #666666;
  font-weight: 400;
  cursor: pointer;
}

.male input,
.female input {
  display: none;
}

.radio {
  width: 24px;
  height: 24px;
  border: 1.5px solid #0a2c3b;
  border-radius: 50%;
  margin-right: 12px;
  padding: 4px;
}

.radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #0a2c3b;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.1s;
}

.male input:checked + .radio::after,
.female input:checked + .radio::after {
  transform: scale(1);
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .terms label {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #666666;
  margin-left: 12px;
  margin-top: 8px;
  cursor: pointer;
}

.terms input[type="checkbox"] {
  width: 24px;
  height: 24px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #0a2c3b;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  margin-right: 22px;
  transition: transform 0.1s;
}

.terms input[type="checkbox"]:checked {
  background: #0a2c3b;
}

.terms input[type="checkbox"]:checked:after {
  display: block;
}

.terms span {
  font-weight: 500;
  color: #0a2c3b;
}

.button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.button button {
  background: #0a2c3b;
  box-shadow: 0px 8px 16px -5px rgba(10, 44, 59, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button:hover {
  background: #0e3a4d;
}

.button button:active {
  background: #134c64;
}

/* Error Validation Style */
.input-container small {
  visibility: hidden;
}
.error input {
  border-color: #ba3939;
  color: #ba3939;
  background: #fffafa;
}

.error small {
  color: #ba3939;
  display: block;
  margin-top: 4px;
  font-size: 16px;
  visibility: visible;
}

.success {
  border-color: #cccccc;
  color: #666666;
}

@media (max-width: 1320px) {
  .bg {
    height: 100vh;
  }
  .account {
    margin: auto 40px auto 80px;
  }
}

@media (max-width: 1300px) {
  .bg {
    height: 150vh;
  }
  .account {
    margin: auto 40px;
  }
}

@media (max-width: 992px) {
  .bg {
    height: 170vh;
    width: 60vh;
    transition: all 0.5s ease;
  }
}

@media (max-width: 768px) {
  .bg {
    height: 100vh;
    width: 0px;
    transition: all 0.5s ease;
  }

  .account {
    margin: auto;
  }
}

@media (max-width: 450px) {
  .account {
    margin: 0 24px;
  }
}
