#footer-component {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

#footer-component #head {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 3%;
}

#footer-component #head a {
  margin-right: 7%;
}

#footer-component #head #social-media {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

#footer-component #head #subscribe {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  padding: 3%;
  border: 1px solid black;
  border-radius: 6px;
}

#footer-component #head #subscribe form button {
  padding: 5%;
  border: 0px;
}

#footer-component #head #subscribe form label {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

#footer-component #head #subscribe form label text {
  margin-bottom: 3%;
}

#footer-component #tail {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.158);
  background-color: #005ef7;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #footer-component #tail {
    flex-direction: column;
  }
  #footer-component #head #subscribe form label {
    width: 150px;
  }
}

@media screen and (min-width: 601px) {
  #footer-component #tail {
    flex-direction: row;
  }
  #footer-component #head #subscribe form label {
    width: 250px;
  }
}

#footer-component #tail h4 {
  color: white;
  text-align: center;
}
